<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

<nav id="body-navbar" class="navbar navbar-inverse navbar-static-top">
    <!-- container to make the display of navbar to be centered -->
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand hidden-sm" href="http://vis.cse.ust.hk/" >Navbar head</a>
        </div>

        <!--Navbar right or left -->
        <div class="navbar-collapse collapse navbar-right" >
            <ul class="nav navbar-nav">
                <!-- The same as:
                <li><a href="http://www.huamin.org/" target="_blank" >Dump</a></li>
                <li><a href="http://www.huamin.org/">Replace</a></li>
                -->
                <li v-for="item in buttons" >
                    <!-- must use v-bind to set assign value to the attributes-->
                    <a v-bind:href= "item.link">{{ item.name }}</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-sm">
                <li><a href="">About</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div id="control-view" class="col-sm-2 col-md-2 sidebar">
            <section class="box" style="background-color: #aaa;">
                <h1>Feature Range</h1>
                <div id="control-view">
                    <div class="div-column">
                        <div v-for="feature in features">
                            <p>{{ feature.name }}</p>
                            <input type="range" v-model="feature.value" v-bind:min="feature.min" v-bind:max="feature.max"  v-bind:step="feature.step"/>
                            <span>{{ feature.value }}</span>
                            <br>
                        </div>

                    </div>
                </div>
            </section>
        </div>
        <div id="left-view"  class="col-sm-2 col-md-5 sidebar">
            <section>
            </section>

        </div>
        <div id="right-view" class="col-sm-2 col-md-5 sidebar">
            <section style="background: blue">
                right
            </section>
        </div>
    </div>


</div>

<script src="https://d3js.org/d3.v3.js"></script>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="js/vue2.js"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>

<script src="js/marked.min.js"></script>
<script src="js/lib/NodeLink.js"></script>


<script src="js/service/pipService.js"></script>
<script src="js/service/dataService.js"></script>

<script src="js/vue-model/navbar.js"></script>
<script src="js/vue-model/control-view.js"></script>
<script src="js/vue-model/left.js"></script>
</body>
</html>